Django>=5.0,<5.1
django-allauth[socialaccount]==0.61.1
djangorestframework>=3.14.0
psycopg2-binary>=2.9.9
azure-identity>=1.15.0
fastmcp>=0.1.0
django-mcp>=0.1.0
python-dotenv>=1.0.1
gunicorn>=21.2.0
whitenoise>=6.6.0
django-htmx>=1.17.2
asgiref>=3.7.2
django-cors-headers>=4.3.1
dj-database-url>=2.1.0
azure-ai-projects==1.0.0b1
uvicorn>=0.27.0
